.mainn_div{
    background-color: rgb(228, 225, 222);
    border-color: black;
    border-width: 1mm;
    border-style: outset;
    height: fit-content;
    width: fit-content;
    margin-left: 40%;
    margin-top: 20px;
    font-size: 17px;

        th{
            padding: 10px;
        }
    }