$variable:left;
$padding:10px;
body{
    text-align: center;
}
.main_div{
    background-color: rgb(228, 225, 222);
    border-color: black;
    border-width: 1mm;
    border-style: outset;
    height: fit-content;
    width: fit-content;
    margin-left: 40%;
    margin-top: 20px;

    .child_div{
        margin-left: 10px;
        margin-right: 10px;
        .fInput{
            text-align: $variable;
            padding-top: $padding;
        }
        .lInput{
            text-align: $variable;
            padding-top: $padding;
        }
        .addInput{
            text-align: $variable;
            padding-top: $padding;
        }
        .pInput{
            text-align: $variable;
            padding-top: $padding;
        }
        .gInput{
            text-align: $variable;
            padding-top: $padding;
        }
        .btn{
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            border: none;
        }
    }
    }